 #camada1{
             position: absolute; /* componente absoluto é oq está sobreposto na página*/
             width: 150px;
             height: 100px;
             background-color: blanchedalmond;
             border: 5px solid blue;
             text-align: center;
             top: 200px;
             left: 200px;
             z-index: 1;
            }
 #camada2{
             position: absolute; /* componente absoluto é oq está sobreposto na página*/
             width: 250px;
             height: 200px;
             background-color: rgb(145, 47, 47);
             border: 5px solid rgb(136, 136, 241);
             text-align: center;
             top: 250px;
             left: 250px;
             z-index: 2;
            }
 #camada3{
             position: absolute; /* componente absoluto é oq está sobreposto na página*/
             width: 250px;
             height: 200px;
             background-color: rgb(218, 87, 218);
             border: 5px solid rgb(176, 248, 173);
             text-align: center;
             top: 300px;
             left: 350px;
             z-index: 3;
            }
 #camada4{
                position: absolute;
                top: 350px;
                left: 400px;
                z-index: 4;
            }

 #camada4 img{
                width: 250px;
                height: 200px;
            }
