
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    box-sizing: border-box;
}

#fundo{
    position: relative;
width: 1000px;
height: 700px;
background-color: lightblue;
margin: auto;
}

#camada1{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: blue;
    color: white;
float: left;

}
#camada2{

    position: relative;
    width: 800px;
    height: 150px;
    background-color: red;
    float: left;
}
#camada3{
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: green;
    clear: left;

}
#camada4{
    position: relative;
    width: 1000px;
    height: 550px;
    background-color: yellow;
    border: 5px solid red;

}
#camada5{
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: gray;

}
